@use '../abstract/variaveis';
@use '../abstract/mixins';

.rodape {
    margin-top: 2rem;
    background: variaveis.$cor-quaternaria;
    text-align: center;
    padding: .1rem 0;
    @include mixins.font-family-font-size-font-color(variaveis.$ft-textos, .9rem, variaveis.$cor-primaria);
}